.content-main {
    flex-wrap: wrap;
}

.product {
    margin: 10px;
}

#content-left ul li.active {
    background-color: sienna;
    cursor: pointer;
    color: white;
}

input[type="submit"], input[type="button"] {
    background-color: brown;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
}

#product-title-1 input[type="submit"]{
    width: fit-content;
}

#product-title-2 input[type="submit"]{
    width: fit-content;
}

.product {
    width: 22%;
}

.filter-option {
    margin: 20px;
}