@page
@model ShopOnline.Pages.Admin.Products.CreateModel

<div id="content-left">
    <ul>
        <a href="~/admin/dashboard">
        <li>Dashboard</li></a>
        <a href="~/admin/orders">
        <li>Orders</li></a>
        <a href="javascript:void">
        <li class="active">Products</li></a>
        <a href="~/admin/customers">
        <li>Customers</li></a>
    </ul>
</div>
<div id="content-right">
    <div class="path-admin">CREATE A NEW PRODUCT</b></div>
    <div class="content-main">
        <form id="content-main-product" method="post">
            <div class="content-main-1">
                <label>Product name (*):</label><br />
                <input type="text" id="" asp-for="Product.ProductName"><br />
                <span class="msg-error" asp-validation-for="Product.ProductName"></span><br />
                <label>Unit price:</label><br />
                <input type="text" id="" asp-for="Product.UnitPrice"><br />
                <label>Quantity per unit:</label><br />
                <input type="text" id="" asp-for="Product.QuantityPerUnit"><br />
                <label>Units in stock (*):</label><br />
                <input type="text" id="" asp-for="Product.UnitsInStock"><br />
                <span class="msg-error" asp-validation-for="Product.UnitsInStock"></span><br />
            </div>
            <div class="content-main-1">
                <label>Category (*):</label><br />
                <select asp-for="Product.CategoryId" asp-items="(SelectList) @ViewData["CategoryId"]">
                </select>
                <br />
                <span class="msg-error"></span><br />
                <label>Reorder level:</label><br />
                <input type="text" name="txtReorderLevel" id="" disabled asp-for="Product.ReorderLevel"><br />
                <label>Units on order:</label><br />
                <input type="text" name="txtUnitsOnOrder" id="" disabled asp-for="Product.UnitsOnOrder"><br />
                <label>Discontinued:</label><br />
                <input type="checkbox" id="" asp-for="Product.Discontinued"><br />
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
