@page
@model ShopOnline.Pages.Accounts.ResetpasswordModel
@{
}

<div id="form">
    <h3 style="padding: 20px;">Forgot your account password?</h3>
    <div class="msg-error">@ViewData["msg"]</div>
    <div style="padding: 0px 20px 10px;">
        Please enter the new password
    </div>
    <div id="form-content">
        <form action="" method="post">
            <label>Enter your new password here<span style="color: red;">*</span></label><br />
            <input type="hidden" name="token" value="@ViewData["token"]"/><br/>
            <input type="password" name="password" placeholder="New password"/><br />
            <input type="password" name="confirmpassword" placeholder="Confirm password" /><br />
            <input type="submit" value="Reset PASSWORD" style="margin-bottom: 30px;" /><br />
        </form>
    </div>
</div>
