@page
@model ShopOnline.Pages.Accounts.SignInModel
@{
}

<div id="form">
    <div id="form-title">
        <span><a href="~/account/signup">SIGN UP</a></span>
        <span><a href="~/account/signin" style="color: red;">SIGN IN</a></span>
    </div>
    <div id="form-content">
        <div class="msg-error">@ViewData["msg"]</div>
        <form  method="post">
            <label>Email<span style="color: red;">*</span></label><br />
            <input asp-for="Account.Email" type="text" /><br />
            <span asp-validation-for="Account.Email" class="msg-error"></span><br />
            <label>Password<span style="color: red;">*</span></label><br />
            <input asp-for="Account.Password" type="password" /><br />
            <span asp-validation-for="Account.Password" class="msg-error"></span><br />
            <div><a href="forgot">Forgot password?</a></div>
            <input type="submit" value="SIGN IN" /><br />
            <input type="button" value="FACEBOOK LOGIN" style="background-color: #3b5998;" /><br />
            <input type="button" value="ZALO LOGIN" style="background-color: #009dff;margin-bottom: 30px;" />
        </form>
    </div>
</div>