@page
@model MyRazorPage.Pages.IndexModel

<div id="content-left">
    <h3>CATEGORY</h3>
    <ul>
        @foreach (var c in Model.Categories)
        {
            <a href="~/categories?categoryId=@c.CategoryId">
            <li>@c.CategoryName</li></a>
        }    
    </ul>
</div>
<div id="content-right">
    <div class="path">Hot</b></div>
    <div class="content-main">
        @foreach(var product in Model.Hot){
        <div class="product">
                <a href="~/products/detail?productId=@product.ProductId"><img src="~/img/1.jpg" width="100%" /></a>
                <div class="name"><a href="~/products/detail?productId=@product.ProductId">@product.ProductName</a></div>
            <div class="price">$@product.UnitPrice</div>
                <div><a href="~/accounts/cart/addtocart?productId=@product.ProductId&isBuyNow=true&isRemove=false">Buy now</a></div>
        </div>
        }
    </div>
    <div class="path">Best Sale</b></div>
    <div class="content-main">
        @foreach (var product in Model.BestSale)
        {
            <div class="product">
                <a href="~/products/detail?productId=@product.ProductId"><img src="~/img/1.jpg" width="100%" /></a>
                <div class="name"><a href="~/products/detail?productId=@product.ProductId">@product.ProductName</a></div>
                <div class="price">$@product.UnitPrice</div>
                <div><a href="~/accounts/cart/addtocart?productId=@product.ProductId&isBuyNow=true&isRemove=false">Buy now</a></div>
            </div>
        }
    </div>
    <div class="path">New Product</b></div>
    <div class="content-main">
        @foreach (var product in Model.New)
        {
            <div class="product">
                <a href="~/products/detail?productId=@product.ProductId"><img src="~/img/1.jpg" width="100%" /></a>
                <div class="name"><a href="~/products/detail?productId=@product.ProductId">@product.ProductName</a></div>
                <div class="price">$@product.UnitPrice</div>
                <div><a href="~/accounts/cart/addtocart?productId=@product.ProductId&isBuyNow=true&isRemove=false">Buy now</a></div>
            </div>
        }
    </div>
</div>