@page
@model ShopOnline.Pages.Accounts.Profile.EditProfileModel
@{
}

<div id="content-left">
    <h3 style="font-weight: normal;">Welcome, @Model.Customer.ContactName</h3>
    <h3>Account Management</h3>
    <ul>
        <a href="~/accounts/profile">
        <li class="active">Personal information</li></a>
    </ul>
    <h3>My order</h3>
    <ul>
        <a href="~/accounts/profile/orderhistory">
        <li>All orders</li></a>
        <a href="~/accounts/profile/canceledorder">
        <li>Canceled order</li></a>
    </ul>
</div>
<div id="content-right">
    <div class="path">Edit information</b></div>
    <div>@ViewData["msg"]</div>
    <form method="post">
        <input type="hidden" asp-for="Customer.CustomerId" value="@Model.Account.CustomerId" />
        <div>
            <label>Email</label>
            <input asp-for="Account.Email" />
        </div>
        <div>
            <label>Copany Name</label>
            <input asp-for="Customer.CompanyName" />
            <span asp-validation-for="Customer.CompanyName"></span>
        </div>
        <div>
            <label>Contact Name</label>
            <input asp-for="Customer.ContactName" />
            <span asp-validation-for="Customer.ContactName"></span>
        </div>
        <div>
            <label>Contact Title</label>
            <input asp-for="Customer.ContactTitle" />
            <span asp-validation-for="Customer.ContactTitle"></span>
        </div><div>
            <label>Address</label>
            <input asp-for="Customer.Address" />
            <span asp-validation-for="Customer.Address"></span>
        </div>
        <button type="submit">Save</button>
    </form>
</div>

